# Object files
*.o
*.d
*.ko
*.obj
*.elf

# Temporary files
*~
\#*\#
.\#*

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
/TAGS
/generated-wb-api.c
/generated-wb-api.h
/wbm
/wbd
/wb
/Logs
/QueryCache
/wb.cfg
/.opt
