# Object files
*.o
*.ko
*.obj
*.elf

# Temporary files
*~
\#*\#
.\#*

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
/TAGS
/generated-wb-api.c
/generated-wb-api.h
/wbm
/wbd
/wb
*.filters
*.sln
CodeDB/warfacebot-Debug-Win32/GlobalFileTable.001
*.lck
warfacebot/warfacebot.vcxproj
*.suo
warfacebot/gcc_Debug.h
warfacebot/gcc_Release.h
*.000
warfacebot/warfacebot-Debug.vgdbsettings
*.vgdbsettings
*.user
warfacebot/Debug/warfacebot.log
th3c120w.sh
*.stackdump
out_bitch8.txt
out_bitch7.txt
master.sh
out_bitch6.txt
Nebel.sh
bitches
bitch6.sh
bitch8.sh
bitch7.sh
gfaceticket.sh

*.log
src/stream/crypt.c
src/stream/crypt.c
ICEWEEDSOLDIER.sh
0Nexus0.sh